<div class="min-h-screen flex justify-center items-center bg-gradient-to-r from-gray-800 to-black"><div style="margin-left: 10px;">
<span class="stylish-title"> Grocery List</span>
<button type="button" class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
style="margin-left: 63%;" (click)="cartPage()">Add to Cart</button>
<button type="button" class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" (click)="logout()"
style="margin-right: -57%;">Logout</button>
<div style="gap: 20px;margin-top: 60px;">
<ul style="list-style-type: none; display: flex; flex-direction: row; gap: 41px;">
    @for (grocery of groceries$ | async; track grocery.id){
    <li>
        <img [src]="grocery.image_url" style="height: 200px; width: 200px;">
        <br>
        <div class="inline-flex space-x-2">
        <p style="color: white;">{{ grocery.grocery_name }} ({{ grocery.quantity }})</p>
        <button type='button' class='w-11 h-11  bg-indigo-50 rounded-lg flex items-center justify-center cursor-pointer transition-all duration-500  hover:bg-indigo-100' (click)="addToCart(grocery)">
            <svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'>
            <path d='M1.22229 5.00013H8.77785M5.00007 8.77791V1.22235' stroke='#5551FF' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'></path>
            </svg>
            </button>
            </div>

            <!-- <button type="button" class="w-11 h-11 bg-indigo-50 rounded-lg flex items-center justify-center cursor-pointer transition-all duration-500 hover:bg-indigo-100" (click)="removeFromCart(grocery)">
                <svg width="10" height="2" viewBox="0 0 10 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1H9" stroke="#5551FF" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </button> -->
            
    </li>
}
</ul>
</div>
</div>
</div>