.charts-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;

  div {
    flex: 1;
    margin: 0 10px;
  }
}

mat-card {
  margin-bottom: 20px;
  padding: 20px;
}

table {
  width: 100%;
}
